.body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.navi-brand {
  font-family: 'Raleway', sans-serif;
  color: black;
}

.navi-brand:hover {
  color: #3f3f3f;
}

.navi-section {
  font-family: 'Raleway', sans-serif;
  border-bottom: 0px;
  color: black;
}

.navi-section:hover {
  color: #3f3f3f;
  border-bottom: 5px;
  border-color: black;
  background-color: red;
}
