.body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  padding-right: 15px;
  border-width: 0px;
  border-radius: 0px;
  background-color:white;
}

.navbar-toggle {
  margin: 0px;
  padding: 0px;
  color: black;
  border-radius: 0px;
  border: 0px;
  min-height: 51px;
  min-width: 51px;
  text-align: center;
  display: none;
}

.icon-bar {
  background-color: black;
}

a {
    color: inherit;
}

li {
  background-color: white;
  float: left;
  position: relative;
  list-style-type: none;
}

 li:hover {
  color: white;
  border-bottom: 5px;
  border-color: red;
  background-color: black;
}

li.active {
  font-family: 'Raleway', sans-serif;
  color: black;
}

li.active > a {
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: #dfdfdf;
  border-bottom: 2px solid black;
}

 li > a:hover {
  text-decoration: none;
  background-color: #dfdfdf;
}

 li > a:active {
  text-decoration: none;
}

.navi-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: black;
}

.navi-brand:hover {
  color: #3f3f3f;
  text-decoration: none;
}

.navi-section {
  font-family: 'Raleway', sans-serif;
  color: black;
  padding:15px;
  float:left;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.navi-section:hover {
  font-family: 'Raleway', sans-serif;
  color: black;
  background-color: #dfdfdf;
  border-bottom: 2px solid black;
}

@media (max-width: 768px) {

.navbar-toggle {
  display: block;
  position: relative;
  float: right;
}

}
