* {
  padding: 0;
  margin: 0;
}

canvas {
    background: #fff;
    display: block;
    margin: 0 auto;
}

.content-container {
}

.content {
  position: relative;
}

#logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  margin-top: 16%;
}
